<?php /** @var DrubuNet_EnvioPack_Block_Adminhtml_Orders $this */  ?>
<?php $rates = $this->getRates() ?>
<div class="page-title title-buttons">
    <h1><?php echo $this->__('Crear Envio'); ?></h1>
    <button class="button" onclick="window.close(); window.opener.focus();"><span><span><?php echo $this->__('Close Window') ?></span></span></button>
</div>

<?php if ($rates): ?>
<form action="<?php echo Mage::helper("adminhtml")->getUrl("*/*/saveshipment")?>" method="post">
    <input type="hidden" name="order_id" value="<?php echo $this->getOrderId() ?>">
    <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
    <?php foreach ($rates as $rate): ?>
        <br><input name="shipping_method" type="radio" value="<?php echo $rate['code'] ?>" id="s_method_<?php echo $rate['code'] ?>" class="radio"/>
        <label for="s_method_<?php echo $rate['code'] ?>"><?php echo $this->escapeHtml($rate['title']) ?></label>

        <?php if(strpos($rate['code'], 's_') !== false): ?>

            <?php
            $codeSplit = explode('_', $rate['code']);
            $carrier = $codeSplit[4];
            /** @var DrubuNet_EnvioPack_Model_Shipment $envioPack */
            $envioPack = Mage::getModel('drubunet_enviopack/shipment');
            $branchCollection = $envioPack->getBranches($carrier);

            ?>
            <?php if (count($branchCollection)): ?>
                <select id="enviopack_branch" name="enviopack_branch">
                    <option value="">Seleccione una sucursal</option>
                    <?php foreach ($branchCollection as $branch): ?>
                        <option value="<?php echo $branch['id'] ?>"><?php echo $branch['nombre'].' - ('.$branch['calle'] . ' '. $branch['numero'].')' ?></option>
                    <?php endforeach; ?>
                </select>
            <?php endif; ?>

        <?php endif; ?>
        <div style="clear:both"></div>


    <?php endforeach; ?>
            <input type="submit" value="Generar">
</form>
<?php else: ?>
    <p><?php echo $this->__('There is no rates available.'); ?></p>
<?php endif; ?>
