<?php /** @var DrubuNet_EnvioPack_Block_Adminhtml_Orders $this */ ?>
<?php $errorInfo = $this->getError() ?>
<div class="page-title title-buttons">
    <h1><?php echo $this->__('Error'); ?></h1>
    <button class="button" onclick="window.close(); window.opener.focus();"><span><span><?php echo $this->__('Close Window') ?></span></span></button>
</div>

<?php if ($errorInfo): ?>
    <?php $fields = $errorInfo['errors']['campos'] ?>
    <table class="data-table" id="track-history-table-enviopack>"
        <thead>
        <tr>
            <th><?php echo $this->__('Campo') ?></th>
            <th><?php echo $this->__('Mensaje') ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($fields as $field => $message): ?>
            <tr>
                <td><?php echo $field ?></td>
                <td><?php echo $message ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <script type="text/javascript">decorateTable('track-history-table-enviopack');</script>
<?php else: ?>
    <p><?php echo $this->__("There isn't any error related to this shipment."); ?></p>
<?php endif; ?>
