<?php
/**
 * Created by PhpStorm.
 * User: Pablo Garcia
 * Date: 31/05/17
 * Time: 08:53
 */

?>
<script type="text/javascript">
    jQuery.noConflict();

    jQuery(".massaction-checkbox").change(function() {
        var shippingMethods = [];
        jQuery("#drubunet_enviopack_orders_grid_table > tbody > tr").each(function() {
            var row = jQuery(this);
            var checkbox = row.find("input[type='checkbox']");
            var checked = checkbox.prop('checked');

            if (checked) {
                var select = row.find("select");
                if (select.length) {
                    var selectValue = select.val();
                    shippingMethods.push(checkbox.val() + "|" + selectValue);
                }
            }
        });
        var hiddenShippingMethods = jQuery("#drubunet_enviopack_orders_grid_massaction-form input:hidden[name='shipping_methods']");
        if (hiddenShippingMethods.length) {
            hiddenShippingMethods.val(shippingMethods);
        } else {
            jQuery('<input />').attr('type', 'hidden')
                .attr('name', "shipping_methods")
                .attr('value', shippingMethods)
                .appendTo('#drubunet_enviopack_orders_grid_massaction-form');
        }
    });

</script>